name: Concatenate

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    if: "!contains(github.event.*.labels.*.name, 'automated-pr')"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - id: listup-targets
        run: |
          files=$(find rulesets/ -name "*.yaml" -type f -print)
          escaped_files="${files//$'\n'/\ }"
          echo "files=${escaped_files}" >> $GITHUB_OUTPUT
      - name: Clear concat file
        run: |
          rm ruleset.yaml
      - name: Concatenate files
        uses: ftnext/action-concatenate-files@main
        with:
          sources: ${{ steps.listup-targets.outputs.files }}
          destination: ruleset.yaml
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        id: cpr
        with:
          branch: concat
          commit-message: |
            Concatenate ruleset
            [skip ci]
          labels: |
            automated-pr
          delete-branch: true
      - name: Check outputs
        if: ${{ steps.cpr.outputs.pull-request-number }}
        run: |
          echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
          echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
      - name: Enable Pull Request Automerge
        if: ${{ steps.cpr.outputs.pull-request-number }}
        run: |
          gh pr merge --merge --auto "${{ steps.cpr.outputs.pull-request-number }}"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
